* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143C3C;
    --primary-color-heading: #152427;
    --text-color: #575D5E;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo__text {
    margin-left: 8px;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    height: var(--height);
    min-width: 173px;
    background-color: var(--primary-color);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.sub-headling::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 25px;
    height: 1px;
    background: #152427;
}

.headling {
    color: var(--while-color, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 520px;
}

.headling__decor::after {
    display: inline-block;
    position: relative;
    content: "";
    top: -10px;
    right: -10px;
    width: 66px;
    height: 2px;
    background: var(--while-color, #152427);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */

.header {
    min-height: 100vh;
}

.header__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 28px;
}

.header__body::after {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    bottom: -13px;
    content: "";
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 88px;
}

.navbar__item {
    position: relative;
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar__link {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link:hover {
    color: #152427;
}

.navbar__link--active {
    color: #152427;
}

.navbar__link--active::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -26px;
    width: 16px;
    height: 2px;
    left: 0%;
    border-radius: 999px;
    background: var(--primary-color);
}

/* hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
}

.hero__content {
    width: 34%;
}

.hero_desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__heading {
    color: var(--primary-color-heading);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.get-in-touch {
    color: #fff;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__action {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__video-text {
    color: #152427;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero__video-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -34px;
    width: 57px;
    height: 59px;
    transition: 0.3s;
}

.hero__video-icon::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    color: #fef6fb;
    background: #83a17d;
}

.hero__video-icon::after {
    content: "";
    position: absolute;
    inset: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #143c3c transparent transparent #143c3c;
    /* border-color: transparent #83a17d #83a17d transparent; */
    border-radius: 50%;
    rotate: -45deg;
}

.hero__video-icon svg {
    position: relative;
    margin-left: 4px;
    color: #fff;
}

.hero__media {
    flex-grow: 1;
    margin-top: 60px;
    position: relative;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.hero__video-icon:hover {
    cursor: pointer;
    transform: rotate(192deg);
    border-color: transparent #83a17d #83a17d transparent;
}

.hero__images::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 53%;
    padding-top: 53%;
    transform: translate(-50%, -50%);
    background: #4dbb9a;
    filter: blur(100px);
    border-radius: 50%;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero-decor__top::before {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor.svg);
    z-index: 10;
    top: -20px;
    left: -100px;
    height: 72px;
    width: 72px;
}

.hero-decor__top::after {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor-6.png);
    z-index: 9;
    top: -18px;
    left: -54px;
    width: 545px;
    height: 361px;
}

.hero-decor__buttom::before {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor.svg);
    z-index: 10;
    bottom: 0px;
    right: 20px;
    height: 72px;
    width: 72px;
}

.hero-decor__buttom::after {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor-7.png);
    z-index: 9;
    bottom: -77px;
    right: 54px;
    width: 545px;
    height: 361px;
}

/* logo list */

.logo-list__body {
    margin-top: 130px;
    height: 200px;
    background: #E2EDDF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo-google__link {
    font-size: 3.1rem;
    font-weight: 500;
    color: #143C3C;
}

.logo-slack,
.logo-agworld,
.logo-heroku {
    position: relative;
}

.logo-slack__link {
    color: #143C3C;
    font-size: 3.2rem;
    font-weight: 600;
}

.logo-slack__link::before {
    position: absolute;
    left: -42px;
    top: -6px;
    content: "";
    width: 40px;
    height: 46px;
    margin: auto 0;
    background-image: url(../icons/slack.svg);
}

.logo-agworld__link {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}

.logo-agworld__link::before {
    position: absolute;
    left: -42px;
    top: -4px;
    content: "";
    width: 33px;
    height: 33px;
    margin: auto 0;
    background-image: url(../icons/agworld.svg);
}

.logo-rioTinto__link {
    color: #143C3C;
    font-family: "Sonsie One", serif;
    font-size: 2.3rem;
    font-weight: 400;
}

.logo-heroku__link {
    color: #143C3C;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

.logo-heroku__link::before {
    position: absolute;
    left: -42px;
    top: -4px;
    content: "";
    width: 33px;
    height: 33px;
    margin: auto 0;
    background-image: url(../icons/heroku.svg);
}

/* services */

.services {
    margin-top: 106px;
}

.service__top {
    display: flex;
    justify-content: space-between;
}

.sub-headling {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin-left: 46px;
}

.service__top-left {
    position: relative;
}

.sub-headling::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 25px;
    height: 1px;
    background: #152427;
}


.service__top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    color: #152427;
    border-radius: 50%;
    border: 1.5px #e2eddf solid;
    transition: 0.3s;
    outline: none;
}

.arrow-next-icon {
    transform: rotate(180deg);
}

.control__btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: flex;
    flex: 3;
    column-gap: 16px;
}

.service-item:hover {
    cursor: pointer;
    background: white;
    box-shadow: -6px 9px 64px -4px rgba(117.94, 117.94, 117.94, 0.25);
    border-radius: 20px;
    transform: translateY(-20px);
    transition: 0.3s;
}

.service-item__image {
    width: 100%;
    height: 318px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

.service-item__heading {
    margin-top: 24px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2;
}

.service-item__sesc {
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
}

/* about */

.about {
    margin-top: 150px;
}

.about-body {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.about__media {
    position: relative;
}

.about__media::before {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor.svg);
    z-index: 10;
    top: -13px;
    left: 48px;
    height: 72px;
    width: 72px;
}

.about__media::after {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor-6.png);
    z-index: 9;
    top: -14px;
    left: 94px;
    width: 545px;
    height: 361px;
}

.about__images {
    display: flex;
    column-gap: 21px;
}

.about__images::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: -1;
    display: block;
    width: 53%;
    padding-top: 53%;
    transform: translate(-50%, -50%);
    background: #4dbb9a;
    filter: blur(100px);
    border-radius: 50%;
}

.about__content {
    position: relative;
    width: 44%;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
}

.about__img:last-child {
    position: relative;
    top: 13px;
}

.about__img:first-child {
    position: relative;
    top: 90px;
}

.about-desc {
    margin-top: 11px;
    color: #7D8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
}

.about-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: #83A17D solid 1px;
    margin-top: 36px;
}

.about-number {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.about-number__desc {
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
    width: 364px;
}

.about-team {
    position: absolute;
    padding: 18px 23px 0px;
    top: 420px;
    left: 460px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-team__heading {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-team__sub-heading {
    margin-top: 8px;
    color: #575D5E;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-team__percent {
    margin-top: 10px;
    position: relative;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-team__rage {
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-team__range-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 10px;
    background: #83a17d;
}

.about-team__loading {
    margin-top: 3px;
    position: relative;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.about-team__symbol {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-team__symbol::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about-team__member {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-team__member-label {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-team__avatar {
    display: flex;
}

.about-team__img {
    display: block;
    margin-left: -6px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about-team__img:first-child {
    margin-left: 0;
}

/* process */
.process {
    margin-top: 170px;
    margin-bottom: 148px;
}

.process-list {
    margin-top: 80px;
}

.process-item {
    display: flex;
    align-items: center;
    height: 185px;
    padding-top: 46px;
    padding-bottom: 20px;
    position: relative;
}

.process-item * {
    transition: all 0.5s ease;
}

.process-item::after {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
    height: 3px;
    width: 100%;
    bottom: 0;
    opacity: 1s;
}

.process-item:hover::after {
    visibility: hidden;
    opacity: 0;
}

.process-item:hover {
    background: #E2EDDF;
    border-radius: 33px;
    cursor: pointer;
}

.process-item:hover>* {
    padding-left: 10px;
    transition: all 0.5s ease;
}

.process-item:hover .process-item__more {
    visibility: visible;
    opacity: 1;
    margin-top: 22px;
}

.process-item:hover .process-desc {
    visibility: hidden;
    opacity: 0;
}

.process-item:hover .process-img {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}


.process-index {
    color: var(--primary-color);
    margin-left: 20px;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7;
}

.process-heading {
    margin-left: 64px;
}

.process__name {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.5;
}

.process-item__more {
    color: #575D5E;
    font-size: 1.8rem;
    line-height: 0.2;
    text-decoration: underline;
    visibility: hidden;
    opacity: 0;
    display: block;
}

.process-item__more:hover {
    color: #00d9ff;
}

.process-desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;

    color: #7D8188;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
}

.process-img {
    width: 450px;
    height: 444px;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(0.5);
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 100%;
}

/* project */

.project {
    padding-top: 116px;
    padding-bottom: 63px;
    background: var(--Primary-color-black-green, #143C3C);
}

.project-row {
    display: flex;
}

.project__desc {
    color: #6A8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.project__link {
    color: #FFF;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-top: 13px;

}

.project__link:hover {
    text-decoration: underline;
}

.project__link-icon {
    color: #6A8383;
    margin-left: 18px;
    cursor: pointer;
}

.project__link-icon:hover {
    color: #fff;
}

.project-video {
    position: relative;
}

#project-video {
    border-radius: 22px;
    margin-top: 65px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project__decor {
    position: absolute;
    top: -100px;
    right: -50px;
}

.project-video::before {
    position: absolute;
    content: "";
    background-image: url(../img/flower-decor.svg);
    z-index: 10;
    top: -56px;
    right: -45px;
    height: 72px;
    width: 72px;
}

.project-play__wrap {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-play {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    z-index: 10;
}

.project-play.hidden {
    opacity: 0;

}

.project-play:hover {
    opacity: 1 !important;
    pointer-events: auto;
}

/* feature */
.feature {
    margin-top: 140px;

}

.feature__headling {
    color: var(--primary-color-heading);
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
    width: 520px;
    margin: auto;
}

.feature__sub-heading {
    color: #7D8188;
    text-align: center;
    width: 547px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 20px auto 0;
}

.feature-list {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.feature-item {
    width: 350px;
    height: 362px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.feature-item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    transform: translateY(-59px);
}

.feature-icon {
    width: 39px;
    height: 35px;
    margin-top: 40px;
}

.feature-item__title {
    color: var(--primary-color-heading);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 26px;
}

.feature-item__desc {
    color: #7D8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
    width: 286px;
    height: 118px;
    margin-top: 10px;
}

/* blog */

.blog {
    margin-top: 184px;
    margin-bottom: 100px;
}

.bog-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bog__desc {
    color: #7D8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    width: 409px;
    margin-left: auto;
}

.blog-item {
    display: flex;
    flex-direction: column;
    width: 360px;
    border-radius: 40px;
}

.blog-item__media {
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
}

.blog-item:hover {
    cursor: pointer;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.bog-item__image {
    width: 100%;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    transition: transform 0.5s;
}

.blog-list {
    margin-top: 90px;
    display: flex;
    gap: 30px;
}

.blog-image__body {
    transition: 0.5s;
}

.blog-item--action {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 7px 34px;
    border-radius: 20px;
    margin-top: 26px;
    background: #E2EDDF;
}

.blog-item__heading {
    margin-top: 13px;
    padding-right: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    color: #143C3C;
    min-height: calc(1.7em * 3);
}

.blog-item__line {
    margin-top: 9px;
    background-color: #C4C4C4;
    display: block;
    width: 100%;
    height: 1px;
}

.blog-item__date {
    margin-top: 16px;
    text-align: end;
    margin-right: 33px;
    margin-bottom: 12px;
    color: #575D5E;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    transition: 0.5s;
}

.blog-item:hover .blog-item__heading {
    padding-right: 0px;
}

.blog-item:hover .bog-item__image {
    transform: scale(1.1);
}

.blog-item:hover .blog-image__body {
    padding-left: 30px;
}

.blog-item:hover .blog-item__date {
    margin-right: 30px;
}

.blog-item:hover .blog-item--action {
    background: #143C3C;
    color: #FFF;
}

/* footer */

.footer {
    margin-top: 100px;
    padding-top: 72px;
    background: #143C3C;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer-headling {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__form-input {
    padding-top: 25px;
    padding-bottom: 26px;
    width: 354px;
    border-bottom: #6A8383 solid 1px;
}

.footer__link-icon {
    color: #6A8383;
    cursor: pointer;
}

.footer__link-icon:hover {
    color: #fff;
}

.footer__email-input {
    color: #6A8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    background: none;
    border: none;
    outline: none;
}

.footer-social {
    display: flex;
    gap: 22px;
    margin-top: 47px;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    background: transparent;
}

.footer-social__link:hover {
    background-color: #a75325;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__contact-header {
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 6px;
}

.footer__contact-item {
    color: #6A8383;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
}

.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #6A8383;
    margin-top: 70px;
    padding-bottom: 20px;
}

.footer__copyright::after{
    position: absolute;
    content: "";
    display: flex;
    height: 1px;
    width: 100%;
    top: -20px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}