* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}

/* header */
.header {
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 28px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    width: 500px;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

/* Hero */
.hero {
    margin-top: 140px;
}

.hero .info {
    width: 51%;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    /* line-height: 27px; */
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    /* line-height: 76px; 118.75% */
    line-height: 1.19;
}

.hero .desc {
    display: inline-block;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-top: 30px;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
